@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?96272950');
  src: url('../font/fontello.eot?96272950#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?96272950') format('woff2'),
       url('../font/fontello.woff?96272950') format('woff'),
       url('../font/fontello.ttf?96272950') format('truetype'),
       url('../font/fontello.svg?96272950#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?96272950#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-check:before { content: '\e800'; }
.icon-cancel:before { content: '\e801'; }
.icon-pencil-1:before { content: '\e802'; }
.icon-cancel-circled-outline:before { content: '\e803'; }
.icon-crown:before { content: '\e844'; float: left }
.icon-paper-plane:before { content: '\f1d8'; }
.icon-user-plus:before { content: '\f234'; }