:root {
    --form-color: #ffffff4a;
    --button-color: #ffffff3e;
    --passive-hyperlink-color: #000000;
    --active-hyperlink-color: #000000b1;
    --line-color: #0000003f;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

.center_block {
    width: 20em;

    padding: 1em;
    border-radius: 25px;
    background: var(--form-color);
    
    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

footer{
    position: fixed;
    bottom: 0;
}

body{
    zoom: 0.8;
    
    background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #66f0d0);
    background-size: 300% 300%;
	animation: gradient 10s ease infinite;
}

input{
    border-radius: 10px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#spoiler_body{
    display: none;
}

fieldset{
    border:0 none;
}

.absolute_center{
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%,0);
}

.center_text{
    text-align: center;
}

html{
    height: 100%;
}

html *{
    font-family: 'Balsamiq Sans', serif  !important;
}

.line {
    overflow: hidden;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.line:before,
.line:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 2px;
    background-color: var(--line-color);
    position: relative;
}

.line:before{
    margin-left: -100%;
    left: -14px;
}

.line:after{
    margin-right: -100%;
    right: -14px;
}

A:hover {
    color: var(--active-hyperlink-color);
}

A {
    color: var(--passive-hyperlink-color);
    text-decoration: none;
}

button{
    margin-left:auto;
    margin-right:auto;
    display:block;

    margin-top: 0.5em;
    margin-bottom: 0.5em;
	box-shadow: none;
	appearance: none;
	border: 0;
	outline: 0;
	background-color: var(--button-color);
	height: 40px;
	line-height: 42px;
	padding: 0 30px;
	font-size: 20px;
	border-radius: 30px;
	cursor: pointer;
	transition: all .5s;
	transition-timing-function: cubic-bezier(.2, 3, .4, 1);
	user-select: none;   
}

button:hover{
    transform: scale(1.1, 1.1);
}
	
button:active{
    transform: scale(1.05, 1.05);
}

.error-message{
    color: red;
    float: right;
}

@keyframes gradient {
	0% {
        background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}