:root {
    --scroll-bar-width: 8px;
}

body,html,table{
    width: 100%;
    height: 100%;
}

body{
    margin:0px;
    padding: 0px;
    position: relative;
    background: #baafad;

    overflow: hidden;
}

table{
    border-collapse: collapse;
    transition: all .1s;
}

.menu, .additional{
    width: 10em;

    display: flex;
    flex-flow: column wrap;

    padding: 3px;

    height: 100%;
}

#chat-exit{
    background: transparent;

    transition: background 0.3s ease;
    border-radius: 10px;
    border: 0;

    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: block;
}

#chat-exit:hover{
    background: hsl(0, 0%, 50%);
}

.menu{ 
    margin-left: auto;
    padding-right: min(50px, 15%);
}

.additional{
    margin-right: auto;
    justify-content: center;
}

html *{
    font-size: 12px !important;
    font-family: 'Balsamiq Sans', serif !important;
}

#header, #footer, #main{
    width: 30em;
    min-width: 24em;
}

#header{
    position: relative;
}

#tab-name{ padding: 10px 0 }

#textbox{
    border-radius: 4px;
    width: 100%;
    padding: 4px;
    margin: 4px 0;
    display: inline-block;
    max-height: 12em;
    min-height: 30px;
    resize: none;
    overflow-y: auto;

    transition: background .3s ease;
}

#textbox[contenteditable='false'] { background: hsl(0, 0%, 85%); }
#textbox[contenteditable='true'] { background: hsl(0, 0%, 100%); }

#textbox *{ max-width: 100%; }

#textbox img{ max-height: 12em; }

.logo, .github{
    margin-left: auto;
    margin-right: auto;
}

.github{
    margin-top: auto;
}

.github > img{
    width:32px;
    height:32px;
}

.logo{
    width: 70px;
    height: 70px;

    margin-bottom: auto;
}

#input-area{
    display: flex;
    flex-flow: row;
    align-items: flex-start;
}

.tab{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(255, 255, 255);
    border-radius: 4px;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;

    width: 100%;
}

.btn{
    margin: 0.25em;
	box-shadow: none;
	appearance: none;
	border: 0;
	outline: 0;
	background-color: #767676;
    height: 30px;
	line-height: 32px;
	padding: 0 10px;
	font-size: 14px;
	border-radius: 30px;
	cursor: pointer;
	transition: all .5s;
	transition-timing-function: cubic-bezier(.2, 3, .4, 1);
	user-select: none;
}

.btn:hover, .Idle:hover{
    transform: scale(1.1, 1.1);
}
	
.btn:active, .Idle:hover:active{
    transform: scale(1.05, 1.05);
}

#send-message{
    display: none;
    flex: none;

    outline:none;
    text-align: center;
    border-radius: 50%;
    text-shadow:0;
    font-weight:bold;

    cursor: pointer;
    transition: all 0.25s ease;

    margin: 4px;
    height: 30px;
    width: 30px;
}

.Idle{
    border: 0;
    background: rgb(99, 81, 81);
}

.Verification {
    background: #ffffff00;
    font-size:0;
    border: 2px solid #101a822b;
    border-left: 2px solid #172aff;
    
    font-size:0;
    animation: rotating 0.25s linear infinite;
    pointer-events: none;
}

.Verification:after{
    content:"";
}

.Valid{
    border: 0;

    background: rgb(28, 172, 21);
    pointer-events: none;
}

.Invalid{
    border: 0;
    
    background: rgb(172, 21, 21);
    pointer-events: none;
}

.chat-info-header{
    padding: 0 !important;
    font-size: 20px !important;
    font-weight: bold;
    
    display: flex;
    flex-direction: row;
}

hr{
    background: hsl(0, 0%, 55%);
    border: none;
    height: 2px;
    margin-top: -2px;
}

#main-cell{
    background: #ffffff;
    border-radius: 4px;

    position: relative;

    height: 100%;
    width: 50em;
}

#wrapper{
    height: 100%;
    width: 100%;
    
    overflow-y: auto;
    position: relative;

    display: flex;
    flex-direction: column;
}

#main{
    width: 100%;
}

.shiftDown{
    margin-top: auto;
}

.msg-area{
    display: inline-block;
    width: 100%;
    height:auto;
}

.msg-container{
    width: auto;
    height:auto;
    background: #8c8c8c;
    border-radius: 5px;
    border: 0;
    margin: 4px;
    padding: 4px;
    display: flex;
    flex-direction: column;
}

.mine{
    float: right;
}

.not-mine{
    float: left;
}

.msg-author-name{
    margin-right: auto;
}

.msg-date{
    margin-left: auto;
}

.msg-text{
    display:block; 
    width: 20em;
    resize: none;

    background: #c1c1c1;

    border-radius: 4px;
    border: 0;
}

.msg-text *{
    max-width: 100%;
}

.search-field{
    display: flex;
    flex-direction: row;

    width: 100%;
    margin-bottom: 10px;
}

.search-field > input{
    width: 100%;
}

.myContact, .myChat {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    position: relative;
}

.myContact > td, .myChat > td{
    padding: 12px;
}

.myContact-name, .myChat-name{ width: 100% }
.myContact-name:hover, .myChat-name:hover { background-color: #eee }

.myContact-del, .myChat-del {
    text-align: center;
    cursor: pointer;
}

.myContact-del:hover, .myChat-del:hover {background: rgb(216, 0, 0);}

.list, .list2{
    padding: 0;
    overflow-y: auto;
    overflow-x: none;
}

#empty-list-message{
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%,-50%);
}

#chat-info-contact-list{ max-height: 7.5em }

.list > *{ margin: 4px 0 }

.list *{ border: 0 }

.list > div{
    display: flex;
    flex-direction: row;
}

.list > .list-item{ border-radius: 3px }

div > .list-item{ border-radius: 3px 0 0 3px }

#chat-add-user{
    border: 0;
    border-radius: 4px;
    background: transparent;

    transition: all 0.3s ease;
    margin-left: auto;
    width: auto;
    display: block;
}

#chat-add-user:hover{
    background: hsl(0, 0%, 50%);
}

.list-item{
    display: block;
    width: 100%;
    transition: .3s ease-out;
    outline: none;
    background: hsl(0, 0%, 75%);
}

.list-item:hover{
    background: hsl(0, 0%, 50%);
}

.list-item + button.icon-cancel{
    outline: none;
    display: block;
    transition: .3s ease-out;
    color: hsl(0, 100%, 35%);
    background: hsl(0, 0%, 75%);
    margin-left: 2px;
    border-radius: 0 3px 3px 0;
}

.list-item + button.icon-cancel:hover{
    background: hsl(0, 55%, 45%);
    color: hsl(0, 100%, 90%);
}

button.input{
    border: 0;
    border-radius: 4px;

    background: hsl(0, 0%, 70%);
}

button.input:hover{
    background: hsl(0, 0%, 60%);
}

div.input > span{
    border-radius: 4px;
    margin: 4px;
    padding: 4px 10px 4px 10px;
    outline: none;
    display: block;
    min-width: 1em;
    width: auto;

    display:inline-block;

    transition: background 0.3s ease;
}

.input{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:auto;
    word-break: break-all;
}

.input *{
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;  
}

div.input > span:empty:before{
    content: attr(placeholder);
    color: hsl(0, 0%, 50%);
}

.invalid{
    border: 3px solid red;
    outline: none;
}

div.input > span[contentEditable=true]{
    background: hsl(0, 0%, 65%);
}

div.input > button{
    border: 0;
    transition: all 0.3s ease;
    
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background: transparent;
    outline: none;
}

div.input > button:hover{
    border: 0;
    font-weight: bolder;
    background: hsl(0, 0%, 55%);
}

.error-message{
    position: absolute;
    margin-left: auto;
    margin-right: auto;

    bottom: 5px;
    
    left: 0; right: 0;
    opacity: 0.95;
    background: hsl(0, 100%, 50%);
    color: #ffffff;
}

::-webkit-scrollbar {
    width: var(--scroll-bar-width);
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 var(--scroll-bar-width) #000000;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(132, 64, 64);
    border: 0;
    border-radius: 5px;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}